.titleSection {
  margin-bottom: 16px;
}

.title {
  font-size: var(--font-size-title);
}

.subtitle {
  font-size: 16px;
  color: #666666;
  margin-top: 2px;
}

.iconWrapper {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-primary);
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  
}

.iconComponent {
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
