.addToCollection{
   background-color: var(--background-backdrop
    );
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.dialog{
    background-color: var(--color-white);
    min-width: 480px;
}

.collectionList{
    height: 300px;
    overflow-y: scroll;
}