.wordSetSlider {
  width: 100%;
}

.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.slider-track {
  display: flex;
  gap: 15px;
}

.slider {
  flex: 0 0 calc(((100% - 30px) / 3));
  display: flex;
  justify-content: center;
}

.btn-leftArrow,
.btn-rightArrow {
  background-color: var(--color-white);
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 2px solid #000;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.btn-leftArrow {
  left: 5px;
}

.btn-rightArrow {
  right: 5px;
}

@media (max-width: 1200px) {
  .slider {
    flex: 0 0 calc(((100% - 15px) / 2));
  }
}

@media (max-width: 768px) {
  .slider {
    flex: 0 0 calc(((100%)));
  }
}
