/* Common */
.defaultLayout {
 background-color: #F8FAFC;

}

.content {
  padding-top: 63px;
  min-height: calc(100vh - 63px);
}

.menuOverlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  pointer-events: none;
  z-index: 10;
}

.menuOverlay.show {
  background-color: var(--background-backdrop);
  opacity: 1;
  pointer-events: all;
}

.menuSidebar {
  opacity: 1;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.menuSidebar.show {
  opacity: 1;
  transform: translateX(0);
}
