/* Reset CSS */

@font-face {
  font-family: SVN-Segoe;
  src: url(../assets/fonts/Lexend-Regular.ttf);
}


@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

.rotate {
  display: inline-block; /* cần để transform hoạt động */
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


:root {
  --font-family: Roboto-Regular, Lexend-Medium, sans-serif;
}

.font-medium{
  font-family:  Roboto-Medium, Lexend-Medium, sans-serif;
}


.shimmer {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;           
  border-radius: 8px;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #e0e0e0 0%,
    #ededed 20%,
    #fafafa 50%,
    #ededed 80%,
    #e0e0e0 100%
  );
  background-size: 200% 100%;
  animation: shimmerMove 1.6s infinite linear;
  pointer-events: none;
  border-radius: 8px;
}

@keyframes shimmerMove {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}




.button-active{
  background-color: var(--background-hover) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  color: var(--color-primary);
  background: var(--color-primary-light);
}

.link-no-style {
  color: inherit;
  text-decoration: none;
}

.outline-primary {
  outline: 1px solid var(--color-gray-300);
}

.divider-bottom {
  border-bottom: 1px solid var(--color-gray-300);
  margin: 0;
}

.divider-top {
  border-top: 1px solid var(--color-gray-300);
  margin: 0;
}

.liquid-glass {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.05)
    ),
    radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.2),
      transparent 70%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 255, 255, 0.15),
      transparent 70%
    );
  backdrop-filter: blur(30px) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.15);
  /* overflow: hidden; */
  z-index: 0;
  position: relative;
}

.liquid-glass::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.liquid-glass.primary::before {
  z-index: -1;
  background: var(--color-primary);
}

.liquid-glass.btn-hover:hover {
  color: var(--color-primary);
  transition: color 0.3s ease;
}


:root {
  /* PRIMARY COLOR */
  --color-primary: #4DBAFE;
  --color-primary-light: #E6F7FF;
  /* --color-primary: linear-gradient(135deg, #4FACFE, #F093FB); */
;

  /* NEUTRAL COLORS */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-100: rgba(0, 0, 0, 0.04);
  --color-gray-200: rgba(0, 0, 0, 0.08);
  --color-gray-300: rgba(0, 0, 0, 0.16);
  --color-gray-400: rgba(0, 0, 0, 0.32);
  --color-gray-500: rgba(0, 0, 0, 0.64);

  /* TEXT COLORS */
  --text-primary: #000000;
  --text-secondary: #6f7882;
  --text-muted: rgba(0, 0, 0, 0.32);

  /* BACKGROUND & SURFACE */
  --background-default: #f2f4f7;
  --background-hover: #0000000d;
  --background-hover-white: rgba(255, 255, 255, 0.04);
  --background-backdrop: rgba(0, 0, 0, 0.5);

  /* BOX SHADOW */
  --box-shadow-primary: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-secondary: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* BORDER RADIUS */
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-round: 100px;

  /* FONT SIZE ---------------- */
  --font-size-caption: 13px; /* chú thích, text nhỏ */
  --font-size-small: 14px; /* mô tả ngắn, text phụ */
  --font-size-body: 16px; /* văn bản thường */
  --font-size-subtitle: 18px; /* tiêu đề phụ */
  --font-size-title: 24px; /* tiêu đề chính */
  --font-size-heading: 36px; /* heading lớn */

  /* REPONSIVE */

  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 992px;
  --bp-large: 1200px;
}

/* START */
* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: #f4f5f7;
  font-family: var(--font-family) !important;
  font-size: 15px;
  color: var(--unchanged-mainBlack-textColor);
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  scrollbar-gutter: stable; /* giữ không gian thanh cuộn luôn tồn tại */
}

body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}