.learningPage{

}

.learningPage .navbar{
    display: flex;
    border-bottom: 2px solid red ;
    gap: 20px;
}

 .navbar .tab{
    cursor: pointer;
    position: relative;
 }

  .navbar .tab:hover{
    color: red;
}

  .navbar .tab.active::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    background-color: blue;
  }