.dialogWrapper {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-primary);
    border-radius: var(--radius-medium);
}