.searchPage{

}

/* tabs */
.tab{
    display: flex;
    gap: 5px;
}

.tab button{
    border-radius: var(--radius-medium);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 14px;
}