/* Common */
.header {
  height: 63px;
  background-color: none;
  box-shadow: var(--box-shadow-primary);
  position: fixed;
  z-index: 100;
}

/* toggle */
.toggle {
  margin-right: 10px;
}

/* Action */
.actions {
  height: 40px;
}

/* Action__not-logged-in */
.not-logged-in {
}

.btn-login {
}

/* Action__logged-in */
.logged-in {
  width: 100%;
  gap: 10px;
}

.avatar {
  position: relative;
  cursor: pointer;
}

.actions .account-dropdown {
  background-color: var(--color-white);
  position: absolute;
  right: 0;
  top: 46px;
  border-radius: var(--radius-medium);
  box-shadow: var(--box-shadow-primary);
}

.store {
  font-size: 22px;
}

.icon{
  font-size: 22px;
  cursor: pointer;
}

.store {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-500);
}
