/* Common */
.smallWordSet {
  background-color: var(--color-white);
  padding: 6px;
  border-radius: var(--radius-medium);
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  transform: translateY(0);
  transition: 0.3s;
}

.smallWordSet:hover .title {
  color: var(--color-primary-solid);
}

/* Thumbnail  */
.detail {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--color-text-secondary);
  gap: 6px;
  flex-wrap: wrap; 
}
.content{
  overflow: hidden;
}

.thumbnail {
  background-color: chartreuse;
  height: 55px;
  width: 55px;
  overflow: hidden;
  border-radius: var(--radius-small);
  margin-right: 8px;
}

.thumbnail img {
 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail{
  flex-shrink: 0;
}

.wordCount{
  flex-shrink: 0;
}

.description {
  flex: 1;
  min-width: 0;                  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text-secondary);
}